.fullTable,.fullTableTitle{
  display: grid;
  grid-template-rows: repeat(20, auto);
  grid-template-columns: repeat(5, auto);
  text-align: center;
}
.fullTable div,.fullTableTitle p{
  border: 1px solid #000;
  width: 20vw;
  line-height: 20px;
}
.fullTableTitle p{
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  font-weight: 700;
}

.fullTable{grid-auto-flow: column;}

.active{
  background: #6dd5ed;
}
.lastFive{
  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style: none;
}
.sort button{
  background: #2193b0;  /* fallback for old browsers */
  border-radius: 4px;
  color: #fff;
  border: 1px solid #2193b0 ;
  font-size: 20px;
  padding: 5px 20px;
}
.sort button:disabled{
  opacity: .3;
}