
.fullTable,.fullTableTitle{
  
  display: flex;
  justify-content: center;
}
.fullTable ul{
  list-style: none;
}
.fullTable li:first-child{
  background: #2193b0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  font-weight: 700;
}
.fullTable button,.fullTable p{
  background: none;
  border: none;
  font-size: 30px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #000;
  width: 66px;
  height: 66px;
  line-height: 66px;
}
.tableHolder{
  border: 3px solid #000;
  width: 100%;
  max-width: fit-content;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  border-radius: 6px;
  
}
.active{
  background: #6dd5ed;
  position: relative;
}

.checked{
  position: relative;
}
.checked:after{
  content:"";
  position: absolute;
  right: 1px;
  bottom: 3px;
  width: 22px;
  height: 22px;
  display: block;
  background:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='20px' width='20px' version='1.1' id='Capa_1' viewBox='0 0 17.837 17.837' xml:space='preserve'%3E%3Cg%3E%3Cpath style='fill:%2335aa1c;' d='M16.145,2.571c-0.272-0.273-0.718-0.273-0.99,0L6.92,10.804l-4.241-4.27 c-0.272-0.274-0.715-0.274-0.989,0L0.204,8.019c-0.272,0.271-0.272,0.717,0,0.99l6.217,6.258c0.272,0.271,0.715,0.271,0.99,0 L17.63,5.047c0.276-0.273,0.276-0.72,0-0.994L16.145,2.571z'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
}
.check{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50% , 280px);
  display: flex;
  flex-direction: column;
  
}
.check p {
  text-align: center;
  margin-bottom: 12px;
}
.check>div{
  display: flex;

}
.check button{  
  background: #2193b0;  /* fallback for old browsers */
  border-radius: 4px;
  color: #fff;
  border: 1px solid #2193b0 ;
  font-size: 20px;
  padding: 5px 20px;
  height: 35px;
}

.check input{
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  width: 125px;
  height: 35px;
  margin: 0 10px 0 0;
  padding:0 0px 0 10px;
}  

.spinner{
  font-size: 0;
}
.spinner{
  width: 15px;
  height: 15px;
  border: 3px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 